<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>SITNimg</title>
		<link rel="stylesheet" type="text/css" href="SITNimg.css">		
	</head>
	<body>
<div id="wrapper">
  <a href="">  
   <h1>Азарову подарують атлас доріг Львівської області</h1>
   <p>Прем’єр має побачити сітку наших автодоріг, 
   	адже він вдає, що не знає про їхній стан. 
   	Вважає депутат Львівської обласної ради від 
   	Народного Руху України Олександр Ганущин, 
   	повідомляє прес-служба ЛКО НРУ.
   </p>
   </a>
</div>
	</body>
</html>

