-body {
-       margin: 0;
-       font-family: Arial, sans-serif;
-}
-
-/*Header*/
-#header_box {
-       min-width: 280px;
-       min-height: 80px;
-       border:1px solid red;
-       padding: 10px;
-       margin: 0 10px 0 10px;
-       background-color: grey;
-}
-.name_part {
-       float: left;
-       margin-right: -100px;
-       width: 100%;
-       background-color: #00FFFF;
-}
-.name_part ul {
-       font-size: 68px;/* 46px for screen 640-620 and smaller*/
-       margin: 0;
-       padding: 0;
-       height: 80px;
-       line-height: 80px;
-}
-.logo_part {
-       min-width: 100px;
-       float: right;
-       padding: 0;
-}
-.logo_part img {
-       height: 80px;
-       width: 80px;
-       float: right;
-}
-.name_part > div {
-       margin-right: 100px;
-}
-
-
-/*DropDown menu*/
-#header_box .dropDownThems
-{
-    cursor: pointer;
-    
-       
-}
-
-#header_box .dropDownThems > li
-{
-    position: relative;
-    display: none;
-    padding-bottom: 7px;
-       padding-left: 15px;
-       padding-right: 15px;  
-    margin-left: -10px;
-    z-index: 2;
-    cursor: pointer;
-    font-size: 0.5em;
-    line-height: 25px;
-    background-color: blue;
-}
-
-
-#header_box .dropDownThems li:first-child    
-{
-    padding-top: 4px;
-}
-#header_box .dropDownThems:hover li
-{
-    display: block;
-    width: 100px;
-    
-}
-#header_box .dropDownThems li > a:hover
-{
-    text-decoration: underline;
-    background: none;
-}
-#header_box .dropDownThems a
-{
-    text-decoration: none;
-}
-#header_box .dropDownThems .redTheme
-{
-       color: red;     
-}
-#header_box .dropDownThems .yellowTheme
-{
-       color: yellow;  
-}
-#header_box .dropDownThems .blackTheme
-{
-       color: black;   
-}
-/*Footer*/
-#footer_box{
-       clear:both;
-       border: 1px solid red;
-       min-height: 50px;
-       background-color:yellow;
-       padding: 10px;
-       margin: 10px 10px 0 10px;
-       min-width: 280px;
-       font-size: 16px;
-}
-#footer_box .foot-info{        
-       float: left;
-       min-width: 300px;
-}      
-#footer_box .foot-valid{       
-       float: right;
-}
-
-/*Main content*/
-#main-content_box {
-       float: left;
-       /*margin: 10px 0 10px 0;*/
-       width: 100%;
-   }
-#main-content_box .help-content_box {
-       float:left;
-       margin-left:-300px;
-    margin-right:-20px;
-       width:100%;
-       min-width: 620px;
-}
-#main-content_box .menu_box {
-       margin-left: 10px;
-        /*margin-right: 10px;*/
-        width: 300px;
-       min-width: 300px;
-       float: left;
-    border: 1px solid black;
-       }
-#main-content_box .content_box {
-    margin-left:310px;
-       margin-right:10px;
-       border: 1px solid black;
-    word-wrap: break-word;
-}
-#main-content_box .content_box.active {
-       color: #254394; 
-       background-color: #FFF;
-       border-color: #254394;
-       border-width: 2px;
-}
-.stop1{
-clear:both;}
-/*Menu*/
-#main-content_box .menu_box {
-       min-width:300px;
-       width: 300px;
-       /*border: 2px solid #FFF;*/             
-}
-
-#main-content_box .menu_box ul {               
-    list-style: none; 
-    margin: 10px 0; 
-    padding: 0; 
-    font-family: Arial, sans-serif;
-    font-size: 10pt; 
-   }
-   
-#main-content_box .menu_box li a {
-       display: block; 
-       padding: 5px; 
-       text-decoration: none; 
-       color: #FFF; 
-       border: 2px solid #FFF;
-       background-color: #254394;
-       height: 20px;
-       line-height: 20px;
-       text-align: center;
-       margin: 5px 0;  
-       white-space: nowrap;
-       overflow: hidden;
-       text-overflow: ellipsis;
-   }
-
-#main-content_box .menu_box li a:hover, #main-content_box .menu_box li a.active{
-       color: #254394; 
-       background-color: #FFF;
-       border-color: #254394;
-}
-
-/*Composite box*/
-#main {
-       float: left;
-       margin: 10px 0 10px 0;
-       width: 100%;
-       padding: 0;
-   }
-#main .plase_holder {
-       float:left;
-       margin-left:-300px;
-        margin-right:-20px;
-       width:100%;
-       min-width: 620px;
-}
-#main .search_box {
-       margin-left:10px;
-        margin-right: 10px;
-        width: 300px;
-       min-width: 300px;
-       float: left;
-     
-       }
-#main .breadcrumbs {
-   /* border: 1px solid black;*/
-    background-color: white;
-    margin-left:310px;
-    word-wrap: break-word;
-}
-.stop{
-clear:both;}
-input.search {
-       width: 239px;
-       border: none;
-       margin: 0;
-       padding-left: 1px;
-       background-color:grey; 
-       }
-.search_box label {
-       float: left;
-       line-height: 20px;
-       font-size: 16px;
-       margin-right: 5px;
-}
-/*Bread Crumbs*/
-.breadcrumbs1 ul {
-       list-style-type: none;
-       padding: 0;
-       margin: 0;
-       }               
-.breadcrumbs1 {
-       padding-left: 0;
-       height: 20px;
-       margin: auto 0;
-       }
-.breadcrumbs1 li {
-       float:left;
-       height:20px;
-       color:#777;
-       padding-left:6px;
-       line-height: 20px;
-       list-style-type: none;
-       }               
-.breadcrumbs1 li a {
-       background: url(breadcrums.jpg) no-repeat right center;
-       
-       display:block;
-       padding:0 15px 0 0;
-       margin: 0;
-       }                                                       
-.breadcrumbs1 li a:link,
-.breadcrumbs1 li a:visited {
-       color:#777;
-       text-decoration:none;
-       }       
-a:link, a:visited,     
-.breadcrumbs1 li a:hover,
-.breadcrumbs1 li a:focus {
-       color:#222
-       }                               
-#footer_box,#header_box,.content_box,li a,.menu_box,.search_box{
--webkit-border-radius: 10px;
-   -moz-border-radius: 10px;
-   border-radius: 10px;
-behavior: url(borders/PIE.htc);
-}
-
-@media screen and (max-width: 640px)
-{
-       .name_part ul {
-               font-size: 46px;
-       }
-       #main-content_box {
-               float: none;
-               margin: 0 10px;
-               width: auto;
-       }
-       #main-content_box .help-content_box {
-               float:none;
-               margin:0;
-               width:auto;
-               min-width: 300px;
-       }
-       #main-content_box .menu_box {
-               margin-left: 0;
-               /*margin-right: 10px;*/
-               width: 300px;
-               min-width: 300px;
-               float: none;
-               border: 1px solid black;
-       }
-       #main-content_box .content_box {
-               margin: 0;
-               border: 1px solid black;
-               word-wrap: break-word;
-       }
-       #main-content_box .content_box.active {
-               color: #254394; 
-               background-color: #FFF;
-               border-color: #254394;
-               border-width: 2px;
-       }
-       #main-content_box .menu_box {
-               min-width:300px;
-               width: auto;
-               /*border: 2px solid #FFF;*/             
-       }
-       #main-content_box .menu_box ul {                
-               list-style: none; 
-               margin: 10px 0; 
-               padding: 0; 
-               font-family: Arial, sans-serif;
-               font-size: 10pt; 
-       }
-       #main {
-               float: none;
-               margin: 10px 10px 0 10px;
-               width: auto;
-               padding: 0;
-       }
-       #main .plase_holder {
-               float:none;
-               margin: 0;
-               width: auto;
-               min-width: 300px;
-       }
-       #main .search_box {
-               clear: both;
-               margin: 0;
-               width: 300px;
-               min-width: 300px;
-               float: none;
-       }
-       #main .breadcrumbs {
-               background-color: white;
-               margin-left: 0;
-               word-wrap: break-word;
-       }
-}

