<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>RiaFresh</title>
<link href="menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu">      
	<ul> 
		<li><a href="">Menu1</a></li>        
		<li><a href="">Menu2</a></li>
		<li><a href="">Menu3</a></li>
		<li><a href="">Menu4</a></li>
		<li><a href="">Menu5</a></li>
		<li><a href="">Menu6 Тест який не поміщається заміняється трьома крапками</a></li>
	</ul>	  
</div>

</body>
</html>
